@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url('fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/ubuntu-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local(''),
    url('fonts/ubuntu-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/ubuntu-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid var(--color-gray-100);
}

:root {
  font-size: 16px;

  --color-primary: #63CBCF;
  --color-orange: #F68559;
  --color-purple: #5660E8;
  --color-bg: #ECF6F6;
  
  --color-white: #FFF;
  --color-black: #2B2B2B;

  --color-gray-100: #E7EAF4;
  --color-gray-200: #BEC4D5;
  --color-gray-300: #9FA6BB;
  --color-gray-400: #828BA2;

  --size-3xs: 0.25rem;  /* 4px */
  --size-2xs: 0.5rem;   /* 8px */
  --size-xs: 0.75rem;   /* 12px */
  --size-sm: 0.875rem;  /* 14px */
  --size-base: 1rem;    /* 16px */
  --size-md: 1.25rem;   /* 20px */
  --size-lg: 1.5rem;    /* 24px */
  --size-xl: 1.75rem;   /* 28px */
  --size-2xl: 2rem;     /* 32px */
  
  --rounded-full: 999px;
  --font-ubuntu: Ubuntu, ui-sans-serif, system-ui, -apple-system, Roboto, sans-serif;
}

html {
  line-height: 1.2;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: inherit;
  color: var(--color-black);
  font-family: var(--font-ubuntu);
  background-color: var(--color-bg);
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=button],
[type=submit],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

blockquote,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

img,
video {
  height: auto;
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none;
}
